---
layout: page
title: Galleries
display_title: true
permalink: /gallery/
gallery_layout: Grid
limit_galleries: false
_inputs:
  permalink:
    hidden: true 
  layout:
    hidden: true
  display_title:
    type: switch
    label: Show page title at top
  gallery_layout:
    type: select
    label: Gallery layout
    comment: >-
      Choose to display your galleries in a grid of columns and rows, or as big blocks across the page in rows
    options:
      values:
        - Grid
        - Row
  limit_galleries:
    type: switch
    label: Only show galleries set for front page display
    comment: You can set this on individual galleries
---

<div class="editable">
  <p class="strapline"></p>
</div>

<section class="gallery--list">

<!-- order galleries by date -->
{% assign galleries = site.gallery | sort: 'gallery_date' | reverse %}

{% if page.gallery_layout == 'Grid' %}

  <section class="gallery--list">

    <!-- order galleries by date in a Grid -->
   
    {% for gallery in galleries %}

      {% if page.limit_galleries %}

        {% if gallery.frontpage %}

          <div class="gallery--box">

            <a href="{{ gallery.permalink }}" title="{{ gallery.title }}" class="gallery--link">
              {% include img.html src=gallery.main_image_path width=200 height=200 fit=crop alt=gallery.title %}
              <h4 class="cover--title mb0">{{ gallery.title }}</h4>
            </a>

          </div>

        {% endif %}

      {% else %}

        <div class="gallery--box">

          <a href="{{ gallery.permalink }}" title="{{ gallery.title }}" class="gallery--link">
            {% include img.html src=gallery.main_image_path width=200 height=200 fit=crop alt=gallery.title %}
            <h4 class="cover--title mb0">{{ gallery.title }}</h4>
          </a>

        </div>
        
      {% endif %}
    
    {% endfor %}

  </section>

{% endif %}

<!-- Galleries in Row -->

{% if page.gallery_layout == "Row" %}

  {% for gallery in galleries %}

    {% if gallery.frontpage %}

      <section class="gallery--cover {% if gallery.main_image_path %}has--cover{% endif %}" {% if gallery.main_image_path %}style="background-image: url({{ gallery.main_image_path | prepend: gallery.baseurl }});"{% endif %}>

        <a href="{{ gallery.url }}">

          <div class="scrim {% if gallery.main_image_path %}has--cover{% endif %}">
            <article class="gallery--front">
              <header class="gallery--header">
                <h2 class="cover--title mb0">{{ gallery.frontpagetitle }}</h2>
              </header>
              {% if gallery.homepage_description_markdown %}
                {{ gallery.homepage_description_markdown | markdownify }} <span class="post--readmore">View gallery  <svg class="icon icon--post"><use xlink:href="#icon-double_angle_right" /></svg></span>
              {% endif %}
            </article>
          </div>
        </a>
      </section>

    {% endif %}

  {% endfor %}

{% endif %}