---
layout: home
main_image_path: "/assets/images/5414b866e7d5d.jpg"
main_image_caption:
show_galleries: true
show_text: false
showcarousel: true
carousel:
  - image: /uploads/badge-2022b-city.jpg
    caption: >-
      Three printmakers: Lucy Tennyson,  Nic Hamilton and Biddy Hudson
      exhibiting at the easyHotel in Summertown
    link:
    show_blog: false
    posts_number: 2
_options:
  layout:
    hidden: true
  image_path:
    uploads_dir: assets/images/:year
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
  main_image_path:
    uploads_dir: assets/images/:year
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
  content:
    uploads_dir: assets/:year
  _comments:
    main_image_path: Cover image
    main_image_caption: Alt text for cover image
    carousel: Edit the slideshow
    show_carousel: Show the slideshow
    show_galleries: Show featured galleries
    show_blog: Show your latest posts on the homepage
    show_text: Write some introductory text below your carousel
    posts_number: How many posts to show
    alink: Optional link from the slide
    caption: optional caption
---

{% if page.show_text %}

  <div class="editable">
        
  </div>

{% endif %} 

    {% if page.showcarousel %}
    <!-- <div class="two-thirds no-gutter"> -->
    <section>
      <div class="flexslider">
          <ul class="slides">
            {% for slides in page.carousel %}
            <li>
              {% if slides.link %}
              <a href="{{ site.baseurl }}{{ slides.link }}" title="View project">
              {% endif %}
              {% include img.html src=slides.image width=960 alt=slides.caption %}
              {% if slides.link %}
              </a>
            {% endif %}
              {% if slides.caption %}
              <p class="flex-caption">{% if slides.link %}<a href="{{ site.baseurl }}{{ slides.link }}" title="View project">{% endif %}{{ slides.caption }}{% if slides.link %}&nbsp;<svg class="icon icon__white icon--readmore"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-double_angle_right" /></svg></a>{% endif %}</p>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </div>
      </section>
      <!-- </div> -->
      {% endif %}

      <!-- Regular page promotions on front page -->
      {% for section in site.pages %}

      {% if section.frontpage %}

        {% if section.main_image_path %}
          <section class="gallery-cover has-cover" style="background-image: url({{ section.main_image_path }});">
        {% else %}
          <section class="gallery-cover has-cover" style="background-image: url('http://placekitten.com/g/1200/300');">
        {% endif %}
          <a href="{{ section.url | prepend: site.baseurl }}">
            <div class="scrim has-cover">
              <article class="gallery--front">
                <header class="gallery-header">
                  <h2 class="title">{{ section.frontpagetitle }}</h2>
                </header>
                {% if section.homepage_description_markdown %}
                  {{ section.homepage_description_markdown | markdownify }}<br />
                  <span class="readmore">Read more <span>{{nextPost.title}} <svg class="icon"><use xlink:href="#icon-double_angle_right" /></svg></span>

                {% endif %}
            </span></article>
          </div>
          </a>
        </section>

      {% endif %}

    {% endfor %}

      <!-- Galleries -->
    {% for gallery in site.gallery %}
      {% if gallery.frontpage %}
        <section class="gallery-cover {% if gallery.main_image_path %}has-cover{% endif %}" {% if gallery.main_image_path %}style="background-image: url({{ gallery.main_image_path | prepend: gallery.baseurl }});"{% endif %}>

          <a href="{{ gallery.url }}">
            <div class="scrim {% if gallery.main_image_path %}has-cover{% endif %}">
            <article class="gallery--front">
              <header class="gallery-header">
                <h2 class="title">{{ gallery.title }}</h2>
              </header>
              {% if gallery.homepage_description_markdown  %}
                {{ gallery.homepage_description_markdown | markdownify }}
              {% endif %}
          </article>
          </div>
        </a>
      </section>
      {% endif %}
    {% endfor %}
</section>

{% if page.show_galleries %}
  <!-- Galleries -->
  {% assign galleries = site.gallery | sort: 'gallery_date' | reverse %}

  {% for gallery in galleries %}

    {% if gallery.frontpage %}

      <section class="gallery--cover {% if gallery.main_image_path %}has--cover{% endif %}" {% if gallery.main_image_path %}style="background-image: url({{ gallery.main_image_path | prepend: gallery.baseurl }});"{% endif %}>

        <a href="{{ gallery.url }}">

          <div class="scrim {% if gallery.main_image_path %}has--cover{% endif %}">
            <article class="gallery--front">
              <header class="gallery--header">
                <h2 class="cover--title mb0">{{ gallery.frontpagetitle }}</h2>
              </header>
              {% if gallery.homepage_description_markdown %}
                {{ gallery.homepage_description_markdown | markdownify }} <span class="post--readmore">View gallery  <svg class="icon icon--post"><use xlink:href="#icon-double_angle_right" /></svg></span>
              {% endif %}
            </article>
          </div>
        </a>
      </section>

    {% endif %}

  {% endfor %}

  <section>
    <p><a href="/gallery/" class="post--readmore">View all galleries <svg class="icon icon--post"><use xlink:href="#icon-double_angle_right" /></svg></a></p>
  </section>

{% endif %}
